.first-r .first-p {
    width: 50%;
    float: left;
}
.first-r .second-p {
    width: 50%;
    float: right;
}

.second-r {
    clear:both;
}

#kriptogram {
    display: none;
}

td {
    text-align: center;
}


/*Dodatno! Observe when hovering Kaj je kriptogram?
.third-p:hover #kriptogram {
    display: block;
}*/

